TRAEFIK_PROVIDERS_CONSULCATALOG= true or false
TRAEFIK_PROVIDERS_CONSULCATALOG_ENDPOINT_ADDRESS=discovery-server:port
TRAEFIK_PROVIDERS_CONSULCATALOG_EXPOSEDBYDEFAULT= true or false
TRAEFIK_DASHBOARD_USER=admin:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/ (generated through htpasswd -nb username strongpassword)
