# Servlet
MOVIE_MATE_BASE_PATH=
MOVIE_MATE_API_GATEWAY_INTERNAL_LISTENING_PORT=
MOVIE_MATE_API_GATEWAY_METRICS_PORT=

# Service Discovery
MOVIE_MATE_DISCOVERY_SERVER_HOST=
MOVIE_MATE_DISCOVERY_SERVER_PORT=

# OTEL
MOVIE_MATE_OTEL_COLLECTOR_TRACING_URL= #http://mm-otel-collector:4318/v1/traces
