# =======================
#        Servlet
# =======================

MOVIE_MATE_BASE_PATH=                              # Base path for API Gateway (e.g., /api)
MOVIE_MATE_API_GATEWAY_INTERNAL_LISTENING_PORT=    # Internal port for API Gateway (e.g., 8080)
MOVIE_MATE_API_GATEWAY_METRICS_PORT=               # Metrics port for API Gateway (for Prometheus scraping, etc.)

# =======================
#   Service Discovery
# =======================

MOVIE_MATE_DISCOVERY_SERVER_HOST=                  # Hostname for Consul/Discovery server
MOVIE_MATE_DISCOVERY_SERVER_PORT=                  # Port for Consul/Discovery server

# =======================
#        OTEL
# =======================

MOVIE_MATE_OTEL_COLLECTOR_TRACING_URL=             # OpenTelemetry Collector traces endpoint (e.g., http://mm-otel-collector:4318/v1/traces)
